* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: 120px;
    padding-right: 120px;
}

.top {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(./img/фон.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #202027;
    box-sizing: border-box;

}

.top-content {
    width: 769px;
    height: auto;
    padding-top: 196px;
    padding-right: 120px;
    padding-bottom: 156px;
}

.top__wrapper {
    width: 769px;
    height: 244px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.top__description { 
    display: flex;
    flex-direction: column;       
    box-sizing: border-box;    
}       
/* Позиционирование по px
.angle-star {
    position: absolute;
    padding-left: 990px;
}

.star-1 {
    position: absolute;
    padding-top: 94px;
    padding-left: 63px;
}
.star-2 {
    position: absolute;
    padding-top: 69px;
    padding-left: 156px;
}
.star-3 {
    position: absolute;
    padding-top: 568px;
    padding-left: 1013px;
}
.star-4 {
    position: absolute;
    padding-top: 538px;
    padding-left: 948px;
}
.line-1 {
    position: absolute;
    padding-left: 854px;
}
.line-2 {
    position: absolute;
    padding-top: 254px;
    padding-left: 1067px;
}
.line-3 {
    position: absolute;
    padding-top: 379px;
    padding-left: 1225px;
}
.line-4 {
    position: absolute;
    padding-top: 663px;
    padding-left: 1345px;
}
.triangle {
    position: absolute;
    padding-top: 468px;
    padding-left: 1247px;
}

*/
.angle-star {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 28vw;
    height: auto;
}

.star-1 {
    position: absolute;
    top: 12%;
    left: 4%;
    width: 4vw;
    height: auto;
}

.star-2 {
    position: absolute;
    top: 8.5%;
    left: 11%;
    width: 2.5vw;
    height: auto;
}

.star-3 {
    position: absolute;
    bottom: 23%;
    right: 28%;
    width: 4vw;
    height: auto;
}

.star-4 {
    position: absolute;
    bottom: 31%;
    right: 34%;
    width: 2vw;
    height: auto;
}

.line-1 {
    position: absolute;
    top: 0%;
    right: 20%;
    width: 24vw;
    height: auto;
}

.line-2 {
    position: absolute;
    top: 32%;
    right: 18%;
    width: 8vw;
    height: auto;
}

.line-3 {
    position: absolute;
    top: 47%;
    right: 4%;
    width: 14vw;
    height: auto;
}

.line-4 {
    position: absolute;
    bottom: 7%;
    right: 9%;
    width: 2vw;
    height: auto;
}

.triangle {
    position: absolute;
    bottom: 28%;
    right: 12%;
    width: 5vw;
    height: auto;
}


.top__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-bottom: 24px;

}

.top__subtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-bottom: 48px;
}

.bold-phrase {
    font-weight: 600;
}

.btn {
    width: 247px;

    background-color: #202027;
    color: #FFFFFF;
    gap: 10px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 64px;
    padding-bottom: 18px;
    padding-left: 64px;
    border-radius: 60px;
    border: 1px solid #202027;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #000;
}
.btn-mobile {
    display: none;
}

.ticker {
    position: relative;
    width: 119%;
    height: 90px;
    background-color: #BCEC30;
    overflow: hidden;
    /* скрывает всё, что выходит за границы */
    white-space: nowrap;
    /* текст не переносится на новую строку */
    display: flex;
    align-items: center;
    z-index: 2;
    margin-left: -120px;
}

.ticker__inner {
    display: inline-block;
    animation: ticker-loop 20s linear infinite;
    /* 20с — скорость прокрутки */
}

@keyframes ticker-loop {
    0% {
        transform: translateX(100%);
        /* старт справа за границей */
    }

    100% {
        transform: translateX(-100%);
        /* уходит влево за границу */
    }
}

.ticker-content {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 110.00000000000001%;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;

}

.contur-star {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 28vw;
    height: auto;
    z-index: 1;
}

.contur-smallstar-1 {
    position: absolute;
    top: 172%;
    left: 3%;
    width: 2.2vw;
    height: auto;
    z-index: 1;
}

.contur-bigstar-1 {
    position: absolute;
    top: 177%;
    left: 5%;
    width: 3vw;
    height: auto;
    z-index: 1
}

.box-game {
    width: 100%;
    height: auto;
    background-image: url(./img/фон\ об\ играх.png);
    padding-top: 94px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.box-game__wrapper {
    width: 100%;
    height: auto;

}

.box-game__title {
    width: 314px;
    height: 78px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
}

.box-game__subtitle {
    width: 788px;
    height: 96px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 72px;

}

.box-game__card {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    box-sizing: border-box;
}

.game__card {
    width: 100%;
    height: auto;
    opacity: 1;
    gap: 10px;
    padding-bottom: 36px;
    border-radius: 30px;
    background-color: #FFFFFF;
    text-decoration: none;
    z-index: 2;
}

.game__card:hover {
    transform: scale(1.05);
    /* увеличение на 5% */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
    /* тень чуть больше */
}
.game__card_big {
    margin-top: 20px;
}
.card__img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.card__part2 {
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 36px;
}

.card__nomber {
    width: 108px;
    height: 36px;
    background-color: #F7F7F7;
    border-radius: 52.58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;

}

.game-name {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #202027;
}

.game-name_big {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.contur-smallstar-2 {
    position: absolute;
    top: 256%;
    right: 9%;
    width: 2.33vw;
    height: auto;
    z-index: 1;
}

.contur-bigstar-2 {
    position: absolute;
    top: 258%;
    right: 3%;
    width: 4.57vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5.45deg)
}

.box-minigames {
    width: 100%;
    height: auto;
    background-image: url(./img/фон\ об\ играх.png);
    padding-top: 46px;
    box-sizing: border-box;
}

.minigames {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 144px;
}

.minigames__title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.gorizontal__card_right {
    width: 100%;
    height: 500px;
    gap: 32px;
    border-radius: 30px;
    opacity: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 67px -12px #00000021;
    display: flex;
    justify-content: space-between;
}

.gorizontal__card_left {
    width: 100%;
    height: 500px;
    gap: 32px;
    border-radius: 30px;
    opacity: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 67px -12px #00000021;
    display: flex;
}

.card__part1 {
    width: 600px;
    height: 500px;
    padding: 48px;
    gap: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.game__btn {
    width: 247px;
    background-color: #202027;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    border: 1px solid #202027;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.game__btn:hover {
    background-color: #FFFFFF;
    color: #000;
}

.game__desc {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 12px; 
}

.card__img_big {
    width: 600px;
    height: 500px;
    border-radius: 30px;

}

.contur-smallstar-3 {
    position: absolute;
    top: 613%;
    right: 10%;
    width: 2.2vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5deg);
}

.contur-bigstar-3 {
    position: absolute;
    top: 607%;
    right: 3%;
    width: 4.45vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5deg);
}


.footer {
    width: 100%;
    height: 150px;
    background-color: #BDED35;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.footer__content {
    width: 285px;
    height: 29px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}
.mobile {
    display: none;
}

@media (max-width: 426px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .angle-star {
        width: 35vw;
        }
    .star-1 {
        top: 12%;
        left: 14%;
        width: 9.1vw;
    }
    .star-2 {
        top: 7%;
        left: 27%;
        width: 5.5vw;
    }

    .star-3 {
        bottom: 12%;
        right: 11%;
        width: 10.2vw;
    }
    .star-4 {
        bottom: 19%;
        right: 23%;
        width: 4.68vw
    }
    
    .top-content{
        width: 100%;
        height: auto;
        padding-top: 147px; 
        padding-bottom: 131px;
        padding-left: 0px;
        padding-right: 0px; 
        box-sizing: border-box;     
    }

    .ticker {
        width: 108%;
        height: 51px;
        margin-left: -15px;        
    }
    .ticker-content {
        font-size: 16px;
    }
    
    .line-1 {
        display: none;    
    }

    .line-2 {
        display: none;    
    }

    .line-3 {
        display: none;
    }

    .line-4 {
        display: none;    
    }

    .triangle {
        display: none;    
    }

    .top__wrapper {
        width: 100%;
        height: auto;
    }

    .top__description { 
        display: flex;
        flex-direction: column;       
        box-sizing: border-box;
        margin-left: 40px;
        margin-right: 40px;
    }
    .top__title {        
        font-size: 40px;        
        text-align: center;
        line-height: 100%;
        padding-bottom: 24px;        
    }

    .top__subtitle {        
        font-size: 16px;        
        text-align: center;
        line-height: 100%;
        padding-bottom: 36px;        
    }
    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: flex;               
    }

    .box-game {
        display: none;
    }

    .game__btn {
        width: 75%;
        font-size: 16px
    }

    .box-minigames {
        display: none;
    }

    .mobile {
        width: 100%;
        height: auto;
        padding-top: 48px;
        padding-bottom: 10px;
        box-sizing: border-box;
        background-color: rgba(32, 32, 39, 1);
        display: flex; 
        flex-direction: column;       
    }

    .minigames__title { 
    font-size: 40px;
    }

    .box-game__card {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .game__card:hover {
        transform: none;
        box-shadow: none;    
    }

    .card__part2 {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-right: 29px;
        margin-left: 29px;
        margin-top: 29px;
        margin-bottom: 32px;
    }

    .card__wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-name {
        font-size: 32px;
        line-height: 100%;
        padding-bottom: 16px;
    }

    .game__desc {       
    font-size: 16px;
    line-height: 100%;
    padding-bottom: 32px;
    }


    .footer {
        height: 100px;        
    }

    .footer__content {
        font-size: 16px;
    }
}