* {
margin: 0;
padding: 0;
}
.center {
    padding-left: 120px;
    padding-right: 120px;
}

.top {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(./img/фон.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #202027;

}
.top-content {
    width: 769px;
    height: 358px;
    padding-top: 196px;
    padding-right: 120px;
    padding-bottom: 156px;
}

.top__wrapper {
    width: 769px;
    height: 244px;    
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

/* Позиционирование по px
.angle-star {
    position: absolute;
    padding-left: 990px;
}

.star-1 {
    position: absolute;
    padding-top: 94px;
    padding-left: 63px;
}
.star-2 {
    position: absolute;
    padding-top: 69px;
    padding-left: 156px;
}
.star-3 {
    position: absolute;
    padding-top: 568px;
    padding-left: 1013px;
}
.star-4 {
    position: absolute;
    padding-top: 538px;
    padding-left: 948px;
}
.line-1 {
    position: absolute;
    padding-left: 854px;
}
.line-2 {
    position: absolute;
    padding-top: 254px;
    padding-left: 1067px;
}
.line-3 {
    position: absolute;
    padding-top: 379px;
    padding-left: 1225px;
}
.line-4 {
    position: absolute;
    padding-top: 663px;
    padding-left: 1345px;
}
.triangle {
    position: absolute;
    padding-top: 468px;
    padding-left: 1247px;
}

*/
.angle-star {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 28vw;
  height: auto;
}

.star-1 {
  position: absolute;
  top: 12%;
  left: 4%;
  width: 4vw;
  height: auto;
}

.star-2 {
  position: absolute;
  top: 8.5%;
  left: 11%;
  width: 2.5vw;
  height: auto;
}

.star-3 {
  position: absolute;
  bottom: 23%;
  right: 28%;
  width: 4vw;
  height: auto;
}

.star-4 {
  position: absolute;
  bottom: 31%;
  right: 34%;
  width: 2vw;
  height: auto;
}

.line-1 {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 24vw;
  height: auto;
}

.line-2 {
  position: absolute;
  top: 32%;
  right: 18%;
  width: 8vw;
  height: auto;  
}

.line-3 {
  position: absolute;
  top: 47%;
  right: 4%;
  width: 14vw;
  height: auto;  
}

.line-4 {
  position: absolute;
  bottom: 7%;
  right: 9%;
  width: 2vw;
  height: auto;  
}

.triangle {
  position: absolute;
  bottom: 28%;
  right: 12%;
  width: 5vw;
  height: auto;
}


.top__title {
    font-family: Montserrat;
    font-weight: 700;    
    font-size: 64px;    
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    

}
.top__subtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;    
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.bold-phrase {
  font-weight: 600;
}

.btn {  
    width: 247px;
    
    background-color:  #202027;    
    color: #FFFFFF;
    gap: 10px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 64px;
    padding-bottom: 18px;
    padding-left: 64px;
    border-radius: 60px;
    border: 1px solid #202027;

    font-family: Montserrat;
    font-weight: 600;    
    font-size: 24px;    
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    background-color:  #FFFFFF;    
    color: #000;
}

.ticker {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #BCEC30;
    overflow: hidden;                /* скрывает всё, что выходит за границы */
    white-space: nowrap;             /* текст не переносится на новую строку */
    display: flex;
    align-items: center;
    z-index: 2;
}

.ticker__inner {
    display: inline-block;
    animation: ticker-loop 20s linear infinite;  /* 20с — скорость прокрутки */
}

@keyframes ticker-loop {
  0% {
    transform: translateX(100%);      /* старт справа за границей */
  }
  100% {
    transform: translateX(-100%);    /* уходит влево за границу */
  }
}

.ticker-content {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;    
    line-height: 110.00000000000001%;
    letter-spacing: 4%;
    vertical-align: middle;
    text-transform: uppercase;

}
.contur-star {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 28vw;
    height: auto;
    z-index: 1;
}

.contur-smallstar-1 {
    position: absolute;
    top: 190%;
    left: 2%;
    width: 2.2vw;
    height: auto;
    z-index: 1;
}
.contur-bigstar-1 {
    position: absolute;
    top: 196%;
    left: 4%;
    width: 3vw;
    height: auto;
    z-index: 1
}
.box-game {
    width: 100%;
    height: 1470px;
    top: 800px;
    background-image: url(./img/фон\ об\ играх.png);    
    padding-top: 94px;  
}

.box-game__wrapper {
    width: 100%;
    height: 1326px; 

}

.box-game__title {
    width: 314px;
    height: 78px;    
    font-family: Montserrat;
    font-weight: 700;    
    font-size: 64px;    
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;    
}

.box-game__subtitle {
    width: 788px;
    height: 96px;
    font-family: Montserrat;
    font-weight: 400;    
    font-size: 24px;    
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;    
    padding-top: 24px;
    padding-bottom: 72px;

}

.box-game__card {
    width: 1201px;
    height: 1056px; 
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}
.game__card {    
    width: 378px;
    height: 473px;    
    opacity: 1;
    gap: 10px;    
    padding-bottom: 36px;    
    border-radius: 30px;
    background-color: #FFFFFF;
    text-decoration: none;
    z-index: 2;
}

.game__card:hover {
  transform: scale(1.05);       /* увеличение на 5% */
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);  /* тень чуть больше */
}

  .card__img {
    width: 378px;
    height: 314px;
    border-radius: 30px;    
}

.card__part2 {
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 36px;
}
.card__nomber {
    width: 108px;
    height: 36px;     
    background-color: #F7F7F7;
    border-radius: 52.58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.game-name {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #202027;
}

.game-name_big {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;    
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.contur-smallstar-2 {
    position: absolute;
    top: 284%;
    right: 12%;
    width: 2.33vw;
    height: auto;
    z-index: 1;
}
.contur-bigstar-2 {
    position: absolute;
    top: 289%;
    right: 7%;
    width: 4.57vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5.45deg)
}

.box-minigames {
    width: 100%;
    height: auto;
    top: 800px;
    background-image: url(./img/фон\ об\ играх.png);    
    padding-top: 94px;     
}

.minigames {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 144px;
}
.minigames__title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;    
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF; 
    padding-bottom: 40px;
}

.gorizontal__card_right {
    width: 1200px;
    height: 500px;
    gap: 32px;    
    border-radius: 30px;    
    opacity: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 67px -12px #00000021;
    display: flex;
}
.gorizontal__card_left {
    width: 1200px;
    height: 500px;
    gap: 32px;    
    border-radius: 30px;    
    opacity: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 67px -12px #00000021;
    display: flex;
}

.card__part1 {
    width: 600px;
    height: 500px;
    padding: 48px;
    gap: 10px;    
    opacity: 1;    
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.game__btn {      
    width: 247px;    
    background-color:  #202027;    
    color: #FFFFFF;    
    gap: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    border: 1px solid #202027;

    font-family: Montserrat;
    font-weight: 600;    
    font-size: 24px;    
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}
.game__btn:hover {
    background-color:  #FFFFFF;    
    color: #000;
}

.game__desc {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;      
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle; 
    margin-bottom: 12px;   
}
.card__img_big {
    width: 600px;
    height: 500px;       
    border-radius: 30px;

}

.contur-smallstar-3 {
    position: absolute;
    top: 665%;
    right: 14%;
    width: 2.2vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5deg);
}

.contur-bigstar-3 {
    position: absolute;
    top: 657%;
    right: 8%;
    width: 4.45vw;
    height: auto;
    z-index: 1;
    transform: rotate(-5deg);
}


.footer {
    width: 100%;
    height: 150px;
    background-color: #BDED35;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__content {    
    width: 285px;
    height: 29px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;  
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}